@import "_Variables";
@import "../App.scss";

.container-about {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	p {
		max-width: 600px;
		font-family: $letra-principal;
		font-size: 20px;
		line-height: 1.6;
	}
	img {
		max-width: 100%;
		max-height: 100%;
		display: block;
		margin: auto;
	}
}

@media screen and (max-width: 768px) {
	.container-about {
		@include flex-column;
		margin: 20px;
		padding: 10px;
	}
	p {
		font-size: 18px;
		text-align: justify;
		line-height: 1.5;
	}
	img {
		width: 300px;
		height: 300px;
		max-width: 100%;
		max-height: 100%;
	}
}
