$color-nav: #212529;
$letra-principal: "roboto";
$color-react: #61dafb;
$color-sass: #ce649a;
$color-mui: #027fff;
$color-js: #efdb4f;
$color-html: #e54d26;
$color-css: #3c8fc6;
$color-bulma: #03d1b2;
